<!---->

<div
  [ngClass] = "styling"
  (dragover)="whenDraggedOver($event)"
  (drop)="whenDropped($event)"
>
  <!-- view projection with <ng-content> allows HTML that
       uses a Frame to provide the Lexeme (or maybe other
       material, theoretically) for it to display -->
  <ng-content></ng-content>
</div>
