<!---->

<div [id]="basis.material.id"
     draggable="true"
     (dragstart)="whenDragged($event)"
     (dragover) = "whenDraggedOver($event)"
     (drop) = "whenDropped($event)"
     class="draggable"
>

  <div class="thumbnail" *ngIf="asThumb">
    <span class="thumbtext">{{ thumbName }}</span>
  </div>

  <div *ngIf="!asThumb">
    <br>
    <span class="thumbtext">Actual presentation of Materials appears here.</span>
    <br>
    <br>
    <div class="thumbtext" *ngIf="basis != null">
      {{ basis.material.content }}
    </div>
    <br>
  </div>

</div>
