
.thumbnail {
  text-align: center;

  height: 100px;
  width: 100px;

  display: table-cell;
  vertical-align: middle;

  background: url("../../assets/ThumbDrawing.png");
  background-size: 100%;

  border: solid gold 1px;
  border-radius: 10px;
  margin: 10px;
  padding: 12px 10px 12px 10px;

  transform: scale(0.9, 0.9);
}

.thumbtext {
  font-weight: bold;
  color: darkblue;
  background: white;
  opacity: 90%;
}
