
<hr>

<!-- later, drop all ex-experimenter stuff throughout here -->

<!-- buttons that display conditionally; the two values set are properties
     that also unset their opposite; clearMode() unsets both -->
<button *ngIf="!asTeacher && !asStudent && !asExperimenter" (click)="asTeacher = true">I'm a teacher.</button>
<button *ngIf="!asTeacher && !asStudent && !asExperimenter" (click)="asStudent = true">I'm a student.</button>
<button *ngIf="!asTeacher && !asStudent && !asExperimenter" (click)="asExperimenter = true">I'm experimenting.</button>
<button *ngIf="asTeacher || asStudent || asExperimenter" (click)="clearMode()">Back to the intro.</button>

<br>
<br>

<!-- title block that displays conditionally -->
<div *ngIf="!asTeacher && !asStudent && !asExperimenter">
  <h5>This is the intro.  &nbsp;Don't forget!</h5>
  <br>
</div>


<!-- these are the app contents, and they also display conditionally -->
<app-teacher-mode *ngIf="asTeacher"></app-teacher-mode>
<app-student-mode *ngIf="asStudent"></app-student-mode>
<app-experimenter *ngIf="asExperimenter"></app-experimenter>
