<div class="page">
  <h1>The Teach-O-Matic</h1>
  <br>
  <h3>Helping you teach or learn math.</h3>
  <br>
  <h4>But not both. &nbsp;Choose one.</h4>

  <br>
  <app-choose-mode></app-choose-mode>
  <br>

</div>
