
.grid {
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  grid-template-rows: 55px 300px;
  grid-column-gap: 20px;
  grid-row-gap: 5px;
}

.area {
  /*display: inline-block;*/
  /*position: relative;*/

  border: solid darkblue 1px;
  border-radius: 4px;
  /*padding: 8px;*/
  margin: 4px;
}

.left {
  grid-column: 1;
  text-align: center;
  align-content: center;
}

.middle-left {
  grid-column: 2;
  text-align: center;
  align-content: center;
}

.middle-right {
  grid-column: 3;
  text-align: center;
  align-content: center;
}

.right {
  grid-column: 4;
  text-align: center;
  align-content: center;
}

.big {
  font-size: 125%;
  font-weight: bold;
  color: blue;
}
