

<div class="grid big">
  <div class="placeholder left" style="grid-row: 1">
    <p>Supplier</p>
  </div>

  <div class="placeholder left" style="grid-row: 2">
    <app-supplier></app-supplier>
  </div>

  <div class="placeholder middle-left" style="grid-row: 1">
    <p>Definer</p>
  </div>

  <div class="placeholder middle-left" style="grid-row: 2">
    <app-definer></app-definer>
  </div>

  <div class="placeholder middle-right">
    <p>Presenter</p>
  </div>

  <div class="placeholder middle-right">
    <app-presenter [basis]="samplePresenter"></app-presenter>
  </div>

  <div class="placeholder right" style="grid-row: 1">
    <p>Material</p>
  </div>

  <div class="placeholder right" style="grid-row: 2">
    <app-material [basis]="sampleMaterial"></app-material>
  </div>
</div>
