
  <div class="spinner-frame">
    <input
      type="text"
      class="spinner"
      required
      pattern="\d+"
      (keydown)="digitsOnly($event)"
      [(ngModel)]="quantity"
    >
    <button
      class="spinner-button up"
      (click)="incrementNumber()"
    >
      △
    </button>
    <button
      [class]="decrementorClass()"
      (click)="decrementNumber()"
      [disabled]="quantity == 0"
    >
      ▽
    </button>
  </div>

