<!---->

<div
  (dragover)="whenDraggedOver($event)"
  (drop)="whenDropped($event)"
>

  <br>
  Drop items here.
  <br>
  <br>

  <app-presenter
    *ngFor="let basis of this.presenters"
    [basis]="basis"
    [asThumb]="true"
  >
  </app-presenter>

</div>
