<div class="container-fluid">
  <div class="row">
    <div id="Chooser" class="col-sm-3 placeholder">
      <h5>Chooser</h5>
      Choose one or more from each kind.
      <br>
      <br>

      <span class="guide">One operation type:</span>
      <br>
      <div *ngFor="let operation of operations"
           [id]="operation.id"
           class="choosable"
           draggable="true"
           (dragstart)="whenDragStarted($event)">
        {{operation.name}}
      </div>

      <br>

      <span class="guide">One or more terms:</span>
      <br>
      <div *ngFor="let operand of operands"
           [id]="operand.id"
           class="choosable"
           draggable="true"
           (dragstart)="whenDragStarted($event)">
        {{operand.name}}
      </div>

      <br>

      <span class="guide">One notation:</span>
      <br>
      <div *ngFor="let notation of notations"
           [id]="notation.id"
           class="choosable"
           draggable="true"
           (dragstart)="whenDragStarted($event)">
        {{notation.name}}
      </div>

      <br>

    </div>
    <div id="Builder" class="col-sm-3">
      <div id="Assembler" class="col placeholder"
           (dragover)="whenDraggedOver($event)"
           (drop)="whenDropped($event)"
      >
        <h5>Builder</h5>
        Drag here to build some math to try.
        <br>
        <br>
        <div
          *ngIf="expression.notation != null"
          class="chosen notation">
          {{expression.notation.name}}
        </div>

        <button
          class="choosable right-side"
          (click)="resetBuilder()"
          title="Clear expression contents"
          style="padding: 0px 7px 5px 7px"
        >
          <img src="assets/X-Icon.png" alt="Clear" width="25" height="25">
        </button>

        <hr>

        <app-frame
          *ngFor="let lexeme of expression.ordering; index as at"
          [lexeme]="lexeme"
          [at]="at"
          [styling]="expression.classByType(lexeme)"
          (droppedOnto)="whenDroppedOnFrame($event)"
        >
          {{lexeme.name}}
        </app-frame>

      </div>
      <div id="Counter" class="col placeholder">Choose how many of that expression here.
        <br>
        <br>

        <app-spinner></app-spinner>

        <button
          class="choosable"
          (click)="addToExpressions()"
          [disabled]="this.spinner.quantity == 0"
          title="Add to output set"
        >
          <img src="assets/R-Arrow.png" alt="Add" width="40" height="40">
        </button>
      </div>
    </div>
    <div id="Output" class="col-sm-5 placeholder">Build an output set of expressions here.
      <br>
      <div *ngFor="let expression of expressions">
        <div
          *ngFor="let lexeme of expression.ordering"
          [ngClass]="expression.classByType(lexeme)"
        >
          {{lexeme.name}}
        </div>
      </div>
    </div>
  </div>
</div>
